

<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='main.css')}} " >

</head>
<body>

   <header class="site-header">

 <nav class="navbar navbar-expand-md fixed-top" style="background-color: #5a6065;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{{ url_for('static',
       filename='nav/logo.png')}}"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item-active">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item-active">
          <a class="nav-link" href="{{ url_for('activity') }}">Today's activity</a>
        </li>
        <li class="nav-item-active">
          <a class="nav-link" href="{{ url_for('new_post') }}">New post</a>
        </li>
        <li class="nav-item-active">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        <li class="nav-item-active">
          <a class="nav-link" href="{{ url_for('account') }}">Account</a>
        </li>

              {% else %}
        <li class="nav-item-active">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item-active">
          <a class="nav-link" href="{{ url_for('register') }}">Register</a>
        </li>
        {% endif %}
        
      </ul>
    </div>
  </div>
</nav>        
  </header>

        <video autoplay muted loop id="video">
          <source src="{{ url_for('static', filename = 'video.mp4') }}" type="video/mp4">
              Your browser does not support HTML5 video.
        </video>

      <div class="vid_content">
        <p>For a successful revolution it is not enough that there is discontent. 
          <br>What is required is a profound and thorough <i>conviction</i> of the JUSTICE, 
          <br>NECESSITY and IMPORTANCE of <b>political</b> and <b>social rights.</b><br> Dr. B. R. Ambedkar</p>
          
          <div class="container h-100 d-flex justify-content-center">
            <button id="muteBtn" class="btn btn-secondary" onclick="muteMethod()">UnMute</button>
          </div>
      
      </div>


<script>
var vid = document.getElementById("video");
var muteBtn = document.getElementById("muteBtn");

function muteMethod() { 
    if(vid.muted)
    {
      vid.muted = false;  
      muteBtn.innerHTML = "Mute";
    }
    else
    {
      vid.muted = true;  
      muteBtn.innerHTML = "UnMute";     
    }
} 
 
</script> 



  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

